VITE_CUVETTE_JOB_POST_API_URL = Enter your backend URL

/* Enter your firebase configuration below */
VITE_API_KEY =
VITE_AUTH_DOMAIN =
VITE_PROJECT_ID =
VITE_STORAGE_BUCKET =
VITE_MESSEGING_SENDR_ID =VITE_APP_ID =
VITE_MEASURMENT_ID =